
#header 
{
    height:100px;
    background:#337ab7;
    font-family: 'Yeseva One';
    color: white;
    margin:0;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
}

#header > span 
{
    font-size:18px;
    font-style:italic;
    font-family: 'Yeseva One', cursive;
}


.full-width 
{
    width: 100%;
}

.half-width {
    width:50%;
}

.quarter-width {
    width:25%;
}

.tird-width {
    width:30%;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }