<div  [class.wrapper]="loggedIn">

    <sc-header *ngIf="loggedIn"></sc-header>
    <!-- Left side column. contains the logo and sidebar -->
    <sc-nav  *ngIf="loggedIn"></sc-nav>


    <!-- Content Wrapper. Contains page content -->
    <div  [class.content-wrapper]="loggedIn">
        <!-- Main content -->
        <section [class.content]="loggedIn">
            <router-outlet></router-outlet>
        </section>
        <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->
    <sc-footer  *ngIf="loggedIn"></sc-footer>

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
   immediately after the control sidebar -->
   <div class="control-sidebar-bg"></div>

</div>
